In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pls
import seaborn as sns

# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [3]:
df = pd.read_csv('demo01.csv')
df.head(2)

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False

In [4]:
def contador_missing(df):
    dicionario = {}
    for coluna in df.columns:
        dicionario[f'{coluna}'] = f': {df[coluna].isna().sum()}'
    return dicionario

In [5]:
df.shape

(16650, 16)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [7]:
dict_missing = contador_missing(df=df)
dict_missing

{'sexo': ': 0',
 'posse_de_veiculo': ': 0',
 'posse_de_imovel': ': 0',
 'qtd_filhos': ': 0',
 'tipo_renda': ': 0',
 'educacao': ': 0',
 'estado_civil': ': 0',
 'tipo_residencia': ': 0',
 'idade': ': 0',
 'tempo_emprego': ': 0',
 'possui_celular': ': 0',
 'possui_fone_comercial': ': 0',
 'possui_fone': ': 0',
 'possui_email': ': 0',
 'qt_pessoas_residencia': ': 0',
 'mau': ': 0'}

In [8]:
#target
df['mau'].unique()

array([False,  True])

In [9]:
df['mau'].value_counts()

mau
False    16260
True       390
Name: count, dtype: int64

In [10]:
df_mau_pct = (df['mau'].value_counts()/len(df))*100
df_mau_pct

mau
False    97.657658
True      2.342342
Name: count, dtype: float64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [11]:
data = {
    'Nome': [], 
    'Tipo': [], 
    'Qtd_Cat': []
}

for coluna in df.columns:
    data['Nome'].append(coluna)
    data['Tipo'].append(df[coluna].dtype)
    data['Qtd_Cat'].append(df[coluna].nunique())
        
    
metadados = pd.DataFrame(data=data)
metadados

                     Nome     Tipo  Qtd_Cat
0                    sexo   object        2
1        posse_de_veiculo   object        2
2         posse_de_imovel   object        2
3              qtd_filhos    int64        8
4              tipo_renda   object        5
5                educacao   object        5
6            estado_civil   object        5
7         tipo_residencia   object        6
8                   idade  float64     5298
9           tempo_emprego  float64     3005
10         possui_celular    int64        1
11  possui_fone_comercial    int64        2
12            possui_fone    int64        2
13           possui_email    int64        2
14  qt_pessoas_residencia  float64        9
15                    mau     bool        2

In [12]:
#testes
list_dummies = ['tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia']
for categorias in list_dummies:
    print(f'{categorias}: {df[categorias].unique()}\n')

tipo_renda: ['Working' 'Commercial associate' 'State servant' 'Pensioner' 'Student']

educacao: ['Secondary / secondary special' 'Higher education' 'Incomplete higher'
 'Lower secondary' 'Academic degree']

estado_civil: ['Married' 'Single / not married' 'Civil marriage' 'Widow' 'Separated']

tipo_residencia: ['House / apartment' 'Rented apartment' 'Municipal apartment'
 'With parents' 'Co-op apartment' 'Office apartment']

In [13]:
df_encoded = pd.get_dummies(df, columns=['tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia'])
df_encoded.head(1)

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,...,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_Co-op apartment,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,M,Y,Y,0,58.832877,3.106849,1,0,0,0,...,True,False,False,False,False,True,False,False,False,False

In [14]:
print(f'Encoded: {df_encoded.shape}')
print(f'Normal: {df.shape}')
print(f'{df_encoded["sexo"].unique()}')
print(f'{df_encoded["posse_de_veiculo"].unique()}')
print(f'{df_encoded["posse_de_imovel"].unique()}')

Encoded: (16650, 33)
Normal: (16650, 16)
['M' 'F']
['Y' 'N']
['Y' 'N']

In [15]:
df_encoded['sexo'] = df_encoded['sexo'].map({'M': 1, 'F':0})
df_encoded['posse_de_veiculo'] = df_encoded['posse_de_veiculo'].map({'Y': 1, 'N':0})
df_encoded['posse_de_imovel'] = df_encoded['posse_de_imovel'].map({'Y': 1, 'N':0})

# DataFrame Tratado

In [16]:
df_encoded.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,...,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_Co-op apartment,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,1,1,1,0,58.832877,3.106849,1,0,0,0,...,True,False,False,False,False,True,False,False,False,False
1,0,0,1,0,52.356164,8.358904,1,0,1,1,...,False,False,True,False,False,True,False,False,False,False
2,0,0,1,0,52.356164,8.358904,1,0,1,1,...,False,False,True,False,False,True,False,False,False,False
3,1,1,1,0,46.224658,2.106849,1,1,1,1,...,True,False,False,False,False,True,False,False,False,False
4,0,1,0,0,29.230137,3.021918,1,0,0,0,...,True,False,False,False,False,True,False,False,False,False

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [17]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 33 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   sexo                                    16650 non-null  int64
 1   posse_de_veiculo                        16650 non-null  int64
 2   posse_de_imovel                         16650 non-null  int64
 3   qtd_filhos                              16650 non-null  int64
 4   idade                                   16650 non-null  float64
 5   tempo_emprego                           16650 non-null  float64
 6   possui_celular                          16650 non-null  int64
 7   possui_fone_comercial                   16650 non-null  int64
 8   possui_fone                             16650 non-null  int64
 9   possui_email                            16650 non-null  int64
 10  qt_pessoas_residencia                   16650 non-null  float64
 11  mau                                     16650 non-null  bool
 12  tipo_renda_Commercial associate         16650 non-null  bool
 13  tipo_renda_Pensioner                    16650 non-null  bool
 14  tipo_renda_State servant                16650 non-null  bool
 15  tipo_renda_Student                      16650 non-null  bool
 16  tipo_renda_Working                      16650 non-null  bool
 17  educacao_Academic degree                16650 non-null  bool
 18  educacao_Higher education               16650 non-null  bool
 19  educacao_Incomplete higher              16650 non-null  bool
 20  educacao_Lower secondary                16650 non-null  bool
 21  educacao_Secondary / secondary special  16650 non-null  bool
 22  estado_civil_Civil marriage             16650 non-null  bool
 23  estado_civil_Married                    16650 non-null  bool
 24  estado_civil_Separated                  16650 non-null  bool
 25  estado_civil_Single / not married       16650 non-null  bool
 26  estado_civil_Widow                      16650 non-null  bool
 27  tipo_residencia_Co-op apartment         16650 non-null  bool
 28  tipo_residencia_House / apartment       16650 non-null  bool
 29  tipo_residencia_Municipal apartment     16650 non-null  bool
 30  tipo_residencia_Office apartment        16650 non-null  bool
 31  tipo_residencia_Rented apartment        16650 non-null  bool
 32  tipo_residencia_With parents            16650 non-null  bool
dtypes: bool(22), float64(3), int64(8)
memory usage: 1.7 MB

## Convertendo valores BOOL para INT

In [33]:
colunas = list(df_encoded.columns)
del colunas[0:11]
for coluna in colunas:
    df_encoded[f'{coluna}'] = df_encoded[f'{coluna}'].astype(int)

df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 33 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   sexo                                    16650 non-null  int64
 1   posse_de_veiculo                        16650 non-null  int64
 2   posse_de_imovel                         16650 non-null  int64
 3   qtd_filhos                              16650 non-null  int64
 4   idade                                   16650 non-null  float64
 5   tempo_emprego                           16650 non-null  float64
 6   possui_celular                          16650 non-null  int64
 7   possui_fone_comercial                   16650 non-null  int64
 8   possui_fone                             16650 non-null  int64
 9   possui_email                            16650 non-null  int64
 10  qt_pessoas_residencia                   16650 non-null  float64
 11  mau                                     16650 non-null  int32
 12  tipo_renda_Commercial associate         16650 non-null  int32
 13  tipo_renda_Pensioner                    16650 non-null  int32
 14  tipo_renda_State servant                16650 non-null  int32
 15  tipo_renda_Student                      16650 non-null  int32
 16  tipo_renda_Working                      16650 non-null  int32
 17  educacao_Academic degree                16650 non-null  int32
 18  educacao_Higher education               16650 non-null  int32
 19  educacao_Incomplete higher              16650 non-null  int32
 20  educacao_Lower secondary                16650 non-null  int32
 21  educacao_Secondary / secondary special  16650 non-null  int32
 22  estado_civil_Civil marriage             16650 non-null  int32
 23  estado_civil_Married                    16650 non-null  int32
 24  estado_civil_Separated                  16650 non-null  int32
 25  estado_civil_Single / not married       16650 non-null  int32
 26  estado_civil_Widow                      16650 non-null  int32
 27  tipo_residencia_Co-op apartment         16650 non-null  int32
 28  tipo_residencia_House / apartment       16650 non-null  int32
 29  tipo_residencia_Municipal apartment     16650 non-null  int32
 30  tipo_residencia_Office apartment        16650 non-null  int32
 31  tipo_residencia_Rented apartment        16650 non-null  int32
 32  tipo_residencia_With parents            16650 non-null  int32
dtypes: float64(3), int32(22), int64(8)
memory usage: 2.8 MB

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [19]:
freq = pd.crosstab(df_encoded['posse_de_veiculo'], df_encoded['possui_email'])
freq

possui_email         0    1
posse_de_veiculo
0                 9341  837
1                 5829  643

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [34]:
df_encoded.to_csv('./checkpoint1.csv')